
#  PRINT "Download App Content"
#  curl -s -L -o /tmp/$COMPONENT.zip "https://github.com/roboshop-devops-project/$COMPONENT/archive/main.zip" &>>$LOG
#  STAT $?
#
#  PRINT "Remove Previous Version of App"
#  cd $APP_LOC &>>$LOG
#  rm -rf $CONTENT &>>$LOG
#  STAT $?
#
#  PRINT "Extracting App Content"
#  unzip -o /tmp/$COMPONENT.zip &>>$LOG
#  STAT $?

- name: Add RoboShop Application User
  when: APP_USER is defined
  ansible.builtin.user:
    name: " {{ APP_USER }}"

- name: Download App Content
  ansible.builtin.get_url:
    url: https://github.com/roboshop-devops-project/{{ COMPONENT }}/archive/main.zip
    dest: /tmp/{{ COMPONENT }}.zip

